@use "reset";
@use "header";
@use "footer";
@use "product";
@use "order-by";
@use "filter";
@use "sidebar";
@use "filter-and-order-by";

.category {
  max-width: 1177px;
  margin: 0 auto;
  width: 100%;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0 54px 0;
    padding: 0 2rem;

    .sidebar__overlay,
    .filter-and-order-by {
      display: none;
    }
  }

  &__title {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #333333;
  }

  &__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 43px;
    padding: 0 2rem;
  }

  &__show-more-button {
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
    color: #ffffff;
    width: 175px;
    height: 35px;
    padding: 0;
    margin: 73px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    outline: none;
    background: #fb953e;
    cursor: pointer;
  }

  &__product-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 43px 64px;
  }

  &__product-list-container {
    width: 100%;
  }

  @media (max-width: 768px) {
    &__header {
      margin: 24px 0 0 0;
      padding: 0 1rem;
      justify-content: center;
      flex-direction: column;

      .order-by {
        display: none;
      }

      .sidebar__overlay,
      .filter-and-order-by {
        display: flex;
      }
    }

    &__show-more-button {
      margin: 42px auto 0 auto;
    }

    &__product-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 18px;
    }

    &__content {
      padding: 0 1rem;
      .filter {
        display: none;
      }
    }
  }
}
