.product {
  max-width: 191.78px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__image {
    width: 100%;
    height: 100%;
  }

  &__name {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
    color: #000000;
    margin: 12px 0 11px 0;
  }

  &__value {
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #000000;
  }

  &__installments {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #666666;
    margin: 5px 0 17px 0;
  }

  &__button {
    background: #000000;
    height: 33.55px;
    width: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    outline: 0;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
  }

  @media (max-width: 768px) {
    max-width: 100%;
  }
}
