.sidebar__overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 999;

  &.open {
    opacity: 1;
    pointer-events: auto;

    .sidebar {
      transform: translateX(0);
    }
  }
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 375px;
  height: 100%;
  background-color: #fff;
  transform: translateX(-100%);
  transition: transform 0.3s ease;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.875rem;
    border-bottom: 1px solid #666666;
    height: 70px;

    h2 {
      font-family: "Open Sans";
      font-weight: 400;
      font-size: 28px;
      line-height: 100%;
      text-transform: uppercase;
      color: #666666;
      padding: 0 0 0 1rem;
    }

    .sidebar__close-btn {
      width: 18px;
      height: 18px;
      margin: 0 1rem 0 0;
      background: transparent;
      border: 0;
      padding: 0;
      outline: none;
      cursor: pointer;
    }
  }

  &__content {
    overflow-y: auto;
    max-height: calc(100vh - 100px);
    padding: 0 1rem 1rem 1rem;

    .order-by {
      &__options {
        position: relative;
        bottom: unset;
        border: 0;
        font-family: "Open Sans";
        font-weight: 400;
        font-size: 22px;
        line-height: 100%;
        color: #000000;
        align-items: flex-start;
      }

      &__option {
        width: fit-content;
        height: fit-content;
        font-family: "Open Sans";
        font-weight: 400;
        font-size: 22px;
        line-height: 100%;
        color: #000000;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        padding: 0 0 30px 0;
        background: transparent !important;
        cursor: pointer;
      }

      &__option-selected {
        width: fit-content;
        height: fit-content;
        font-family: "Open Sans";
        font-weight: 400;
        font-size: 22px;
        line-height: 100%;
        color: #000000;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        background: transparent !important;
        padding: 0 0 30px 0;
        cursor: pointer;
      }
    }

    .filter {
      min-width: 100%;
      max-width: 100%;

      &__group {
        gap: 20px;

        .filter__group-header {
          display: flex;
          align-items: center;
          justify-content: space-between;

          h4 {
            font-size: 24px;
            color: #666666;
            margin: 0;
          }

          .open {
            transform: rotate(180deg);
            transition: all 0.3s ease-in-out;
          }

          .close {
            transform: rotate(0deg);
            transition: all 0.3s ease-in-out;
          }

          .filter__row {
            max-width: 153px;
          }
        }
      }

      &__buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .filter__apply-button {
          background: #fb953e;
          width: 160px;
          height: 35px;
          padding: 0;
          border: 0;
          margin: 0;
          outline: none;
          font-family: "Open Sans";
          font-weight: 400;
          font-size: 14px;
          line-height: 100%;
          text-transform: uppercase;
          color: #ffffff;
        }

        .filter__clear-button {
          background: #ffffff;
          width: 160px;
          height: 35px;
          padding: 0;
          border: 1px solid #666666;
          margin: 0;
          outline: none;
          font-family: "Open Sans";
          font-weight: 400;
          font-size: 14px;
          line-height: 100%;
          text-transform: uppercase;
          color: #666666;
        }
      }
    }
  }
}
